<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input id="message" type="text" />
    <button onclick="Messages()">Submit</button>
    <script>
      function Messages() {
        let Text = document.getElementById("message").value;
        let CreateTime = new Date();
        fetch("http://localhost:3000/messages", {
          method: "POST",
          body: JSON.stringify({
            message: Text,
            timestamp: CreateTime,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => {
            console.log(res);
          })
          .then((data) => {
            alert("已送出");
            window.location.assign("http://localhost:3000");
          })
          .catch((e) => {
            alert(e);
          });
      }
    </script>
  </body>
</html>
